<div class="flex-container">

    <div class="item">
        <h2 class="title">Ejemplo del componente 'Sidenav'</h2>
    </div>

</div>
<div class="flex-container">
    <div class="sidenav-container-ejemplo">
        <lib-fomento-sidenav [mode]="mode" [opened]="opened" [position]="position" [fixedInViewport]="fixedInViewport"
            [fixedBottomGap]="fixedBottomGap" [fixedTopGap]="fixedToGap" [title]="'SideNav'" [toolbarColor]="'#333'"
            [iconColor]="'white'" [textColor]="'green'" [sidenavTop]="'15rem'"></lib-fomento-sidenav>
    </div>
</div>
<div class="flex-container">
    <div class="sidenav-container-ejemplo">
        <fomento-sidenav [mode]="mode" [opened]="opened" [position]="position" [fixedInViewport]="fixedInViewport"
            [fixedBottomGap]="fixedBottomGap" [fixedTopGap]="fixedToGap" [title]="'SideNav'" [toolbarColor]="'#333'"
            [iconColor]="'white'" [textColor]="'green'" [sidenavTop]="'15rem'"></fomento-sidenav>
    </div>
</div>