<div class="flex-container">

    <div class="item">
        <h2 class="title">Ejemplo del componente de Navegación</h2>
    </div>


    <div class="flex-container">

        <lib-fomento-nav
        [typeStyle]="type"
        [perfil]="perfil"
        [version]="version"
        [urlAyuda]="urlAyuda"
        [brandStyle]="brandStyle"
        [brandCaption]="brandCaption"
        [mostrar_perfil]="mostrarperfil"
        [mostrarfecha]="mostrarfecha"
        [mostrarhora]="mostrarhora"
        [data_mat]="data_mat"
        [nombre_usuario]="nombre_usuario"

        [privilegioUsuario]="rolUsuario"
        [ultimoAcceso]="ultimoAcceso"
        [type]="typeTemplate"
        [mostrarHeader]="mostrarHeader"
        [mostrarAyuda]="mostrarAyuda"
    />

    </div>

</div>


