<div class="flex-container">
    <div class="item">
        <h2 class="title">Ejemplo del componente 'DataGrid'</h2>
    </div>

        <div class="flex-container">
            <!-- <lib-fomento-datagrid
                [table_headers]="table_headers"
                [name]="api_name"
                [actions]="actions"
                [expansion_form]="true"
                [form]="form"
                [rowsPerPageOptions]="rowsPerPageOptions"
                [idTable]="idTable"
                [endpoint]="endpoint"
                [hostapi]="hostApi"
                [filter]="'advance'"
                (downloadAction)="descargar($event)"
                (helpIconAction)="iconoAyuda()"
                (checkAction)="check($event)"
                [useGetMethod] = "true"

            ></lib-fomento-datagrid> -->
            <lib-fomento-datagrid
    [name]="api_name"
    [table_headers]="table_headers"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [actions]="actions"
    [actions_index]="actions_index"
    [listadoAccionesAux]="listadoAccionesAux"
    [show_download]="show_download"
    [multicheck]="multicheck"
    [multi_check_label]="multi_check_label"
    [multi_check_index]="multi_check_index"
    [multi_check_label_col]="multi_check_label_col"
    [universal_filter]="universal_filter"
    [filter]="'advance'"
    [form]="form"
    [sizePageParam]="sizePageParam"
    [nPageParam]="nPageParam"
    [apiContent]="apiContent"
    [expansion_form]="expansion_form"
    [show_ayuda]="show_ayuda"
    [show_clean]="show_clean"
    [show_fcolumnas]="show_fcolumnas"
    [id_table]="id_table"
    [id_subsistema]="id_subsistema"
    [hostapi]="hostApi"
    [endpoint]="endpoint"

    [hostApiPaginator]="hostapiPaginator"
    [endpointPaginator]="endpointPaginator"

    [hostApiFilter]="hostapiFilter"
    [endpointFilter]="endpointFilter"

    [hostApiFilterUser]="hostapiFiltroUsuarioApi"
    [endpointFilterUser]="endpointFiltroUsuarioApi"

    [hostApiSaveFilter]="hostapiSaveFilter"
    [endpointSaveFilter]="endpointSaveFilter"

    [reset_button_form] = 'reset_button_form'
    [submit_button_form] = 'submit_button_form'
    [showSubmitForm] = "showSubmitForm"
    [showResetForm] = "showResetForm"
    [validate_form] = "validate_form"

    actions_label="Operaciones"

    [alt_form] = "alt_form"
    [alt_label_form] = 'alt_label_form'
    (downloadAction)="descargar($event)"
    (helpIconAction)="iconoAyuda()"
    (checkAction)="check($event)"
></lib-fomento-datagrid>
        </div>
</div>
