<div class="flex-container">
    <div class="item">
      <h2 class="title">Ejemplo del componente 'DataGrid'</h2>
    </div>
  
    <div class="flex-container" *ngIf="!isLoading">
      <lib-fomento-datagrid
      [name]="api_name"
      [table_headers]="table_headers"
      [table_data]="dataSource.data"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [actions]="actions"
      [actions_index]="actions_index"
      [listadoAccionesAux]="listadoAccionesAux"
      [show_download]="show_download"
      [multicheck]="multicheck"
      [multi_check_label]="multi_check_label"
      [multi_check_index]="multi_check_index"
      [multi_check_label_col]="multi_check_label_col"
      [universal_filter]="universal_filter"
      [filter]="filter"
      [form]="form"
      [expansion_form]="expansion_form"
      [sizePageParam]="sizePageParam"
      [nPageParam]="nPageParam"
      [show_ayuda]="show_ayuda"
      [show_clean]="show_clean"
      [show_fcolumnas]="show_fcolumnas"
      [idTable]="idTable"
      [id_subsistema]="id_subsistema"
      [hostapi]="hostApi"
      [endpoint]="endpoint"
      [hostApiPaginator]="hostapiPaginator"
      [endpointPaginator]="endpointPaginator"
      [hostApiFilter]="hostapiFilter"
      [endpointFilter]="endpointFilter"
      [hostApiSaveFilter]="hostapiSaveFilter"
      [endpointSaveFilter]="endpointSaveFilter"
      [hostApiFilterUser]="hostapiFiltroUsuarioApi"
      [endpointFilterUser]="endpointFiltroUsuarioApi"
      [reset_button_form]="reset_button_form"
      [submit_button_form]="submit_button_form"
      [showSubmitForm]="showSubmitForm"
      [showResetForm]="showResetForm"
      [validate_form]="validate_form"
      [useGetMethod]="useGetMethod"
      (downloadAction)="descargar($event)"
      (helpIconAction)="iconoAyuda()"
      (checkAction)="check($event)"
    ></lib-fomento-datagrid>
    
    </div>
  </div>
  