<div class="flex-container">

    <div class="item">
        <h2 class="title">Ejemplo del componente Button Toggle</h2>
    </div>
  
  
    <div class="flex-container">

        <lib-fomento-button-toggle (click)="clickbutton($event)"
            [disabled]="disabled"
            [appearance]="appearance"
            [name]="name"
            [value]="value"
            [disabled]="disabled"
            [ariaLabel]="ariaLabel"
            [ariaLabelledby]="ariaLabelledby"
            [checked]="checked"
            [disableRipple]="disableRipple"
            [id]="id"  
            [label]="label">       
        </lib-fomento-button-toggle>
        
        
    </div>

  
  </div>
