<div class="flex-container">

    <div class="item">
        <h2 id="buttonToggleTitle" class="title">Ejemplo del componente Button Toggle</h2>
    </div>
  
  
    <div class="flex-container">

        <lib-fomento-button-toggle (click)="clickbutton($event)"
            [appearance]="appearance"
            [disabled]="disabled"
            [vertical]="vertical"
            [name]="name"
            [value]="value"
            [ariaLabel]="ariaLabel"
            [ariaLabelledby]="'buttonToggleTitle'" 
            [checked]="checked"
            [disableRipple]="disableRipple"
            [id]="id"  
            [label]="label"
            [multiple]="multiple"
            [toggleGroup]="toggleGroup">  
        </lib-fomento-button-toggle>
        
        
    </div>

  
  </div>
