<div class="flex-container">

  <div class="item">
    <h2 class="title">Ejemplos del componente List</h2>
  </div>


  <div class="flex-container">
    <lib-fomento-list [items]='items1' [selectable]="false"></lib-fomento-list>
    <lib-fomento-list [items]='items1' [selectable]="true"></lib-fomento-list>    
    <lib-fomento-list [items]='items2' [selectable]="true" [multiple]="true"></lib-fomento-list>
    <lib-fomento-list [items]='items3' [selectable]="true"></lib-fomento-list>
    <lib-fomento-list [items]='items4' [selectable]="true" [multiple]="true"></lib-fomento-list> 
    <lib-fomento-list [items]='items4' [textColor]="'green'" [clickable]="true" (itemClick)="miMetodoDeManejo($event)"></lib-fomento-list>  
    
  </div>
