.flex-container .grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 3rem;
	margin-bottom: 10px;
}

.custom-snackbar {
	.mat-mdc-snack-bar-container .mdc-snackbar__surface {
		background-color: #eeeeee;
		--mdc-snackbar-container-color: #eeeeee;
		--mdc-snackbar-supporting-text-color: #333333;
		box-shadow: 0px 0px 7px 0px #00000040 !important;
		max-width: 10em;
		padding: 0.125em 0.5em;
		font-family: 'Source Sans Pro', sans-serif !important;
		font-size: 1.25em;
		border-radius: 1rem;
		min-height: 4.5rem;
		margin-top: 1rem;
	}

	.mat-mdc-button.mat-mdc-snack-bar-action {
		color: #087021 !important;
	}
}
