<div class="flex-container">

    <div class="item">
        <h2 class="title">Ejemplo del componente 'Input group'</h2>
    </div>


    <div class="flex-container">

    <lib-fomento-input-group
        [typeStyle]="typeStyle"
        [width_input]="width_input"
        [input_msgError]="input_msgError"
        [placeholder]="placeholder"
        [type]="type"
        [value]="value"
        [id]="id"
        [name]="name"
        [button_label]="button_label"
        [button_icon]="button_icon"
        [button_icon_theme]="button_icon_theme"
        [button_href]="button_href"
        [button_target]="button_target"
        [disabled]="disabled"
    >
    </lib-fomento-input-group>

    </div>

</div>
