<div class="plantilla container">
    <lib-fomento-breadcrumb></lib-fomento-breadcrumb>
    <h1 class="principalTitle" >{{title}}</h1>
    <lib-fomento-datagrid
        [title]="title"
        [endpoint]="endpoint"
        [hostapi]="hostapi"
        [filter]="filter"
        [rowsPerPageOptions]="rowsPerPageOptions"
	    [actions]="actions"
        [apiContent]="apiContent"
        [table_headers]="table_header"
        [listadoAccionesAux]="listadoAccionesAux"
        [name]="name"
        [show_download]="show_download"
        [show_ayuda]="show_ayuda"
        [show_clean]="show_clean"
        [show_fcolumnas]="show_fcolumnas"
        [actions_index]="actions_index"
        [actions_label]="actions_label"
        [multicheck]="multicheck"
        [multi_check_label]="multi_check_label"
        [multi_check_index]="multi_check_index"
        [multi_check_label_col]="multi_check_label_col"
        [sizePageParam]="sizePageParam"
        [nPageParam]="nPageParam"
        [id_table]="id_table"
        [id_subsistema]="id_subsistema"
        [hostApiPaginator]="hostApiPaginator"
        [endpointPaginator]="endpointPaginator"
        [hostApiFilter]="hostApiFilter"
        [endpointFilter]="endpointFilter"
        [hostApiSaveFilter]="hostApiSaveFilter"
        [endpointSaveFilter]="endpointSaveFilter"
        [hostApiFilterUser]="hostApiFilterUser"
        [endpointFilterUser]="endpointFilterUser"
        [form]="form"
        [showReset]="showResetForm"
        [submit_button_form]="submit_button_form"
        [reset_button]="reset_button_form"
        [expansion_form]="expansion_form"
        [showAux]="showAuxForm"
        [showSubmit]="showSubmitForm"
        [validate_form]="validate_form"
        [aux_label]="aux_label"
        [show_header]="show_header"
        (downloadAction)="downloadEvent($event)"
        (helpIconAction)="iconEvent()"
        (checkAction)="checkEvent($event)"
    ></lib-fomento-datagrid>
</div>
