.mat-mdc-card-title {
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
}

.mat-mdc-card-subtitle {
	color: var(--Negro-2, #767676);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}
