<div class="flex-container">

    <div class="item">
        <h2 class="title">Ejemplo de la propagación de cambios en Seguridad (accesos, autorizaciones, privilegios,etc)
        </h2>
    </div>

    <div class="flex-container">
        <lib-fomento-propagarcambiosseguridad></lib-fomento-propagarcambiosseguridad>
    </div>

    <div class="flex-container">
        <lib-fomento-button (click)="sendChange('Cambio de privilegios desde pantalla')"
            [typeStyle]="typeStyle" [label]="label_boton" [theme]="theme_boton" [disabled]="disabled"
            [aria_label]="aria_label" [disableRipple]="disableRipple">
        </lib-fomento-button>
    </div>

</div>