<div class="flex-container">

  <div class="item">
    <h2 class="title">Ejemplo del componente de filtro del sistema</h2>
  </div>


  <div class="flex-container">

    <div class="item">

      <lib-fomento-filtro-columnas-tabla #filtroColumnas [columns]="columns" (columnsChange)="onColumnsChange($event)" [appearance]="appearance" [label]="label" [ariaLabelledById]="'filter-column-label-executable'">
      </lib-fomento-filtro-columnas-tabla>


      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" aria-label="Table">
          <ng-container *ngFor="let column of columns" [matColumnDef]="column.field">
            <th mat-header-cell *matHeaderCellDef> {{ column.header }} </th>
            <td mat-cell *matCellDef="let element"> {{ element[column.field] }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="filtroColumnas.displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: filtroColumnas.displayedColumns;"></tr>

        </table>
      </div>

    </div>
  </div>
