<div class="test-container">
  <h2>Formulario de Ejemplo</h2>

  <form [formGroup]="ejemploForm">
    <lib-fomento-input 
      [typeStyle]="typeStyle" 
      [label]="label"
      [id]="id" 
      [name]="name"
      [type]="typeMaterial" 
      [formControlName]="'correo'"
      [msgHelp]="msgHelp"
      [msgError]="msgError"
      [disabled]="disabled"
      [readonly]="readonly"
      [required]="required"
      [placeholder]="placeholder"
      (ngModelChange)="onInputChange($event)"
    ></lib-fomento-input>
  </form>
</div>
