<div class="flex-container">

    <div class="row">
        <h2 class="title">Ejemplo Gestion Token y Permisos Libreria Seguridad</h2>
    </div>

    <div> 


        <div class="row">
            <h3 class="title">Mostrar Información del Token</h3>
        </div>

        <lib-fomento-button typeStyle="material" (click)="showTokenInfo()" label="Mostrar Información del Token por consola" />

        <div class="row">


            <div *ngIf="loggedIn">
                <div><strong>Token:</strong> <span style="color: blue; white-space: pre;">{{ token }}</span></div>
                <div><strong>Payload Decodificado:</strong> <span style="color: blue; white-space: pre;">{{
                        decodedPayload | json }}</span></div>
                <div><strong>Array Códigos de privilegios-fomento:</strong> <span
                        style="color: blue; white-space: pre;">{{ privilegiosFomentoCodes | json }}</span></div>
                <div><strong>Array de (Permisos) Authorities:</strong> <span style="color: blue; white-space: pre;">{{
                        authorities | json }}</span></div>
                <div><strong>Perfil de Usuario:</strong> <span style="color: blue; white-space: pre;">{{ userProfile
                        | json }}</span></div>
                <div><strong>Privilegios de Usuario:</strong> <span style="color: blue; white-space: pre;">{{
                        privilegios | json }}</span></div>
                <div><strong>Nombre de Usuario:</strong> <span style="color: blue; white-space: pre;">{{ username
                        }}</span></div>
                <div><strong>¿Token Expirado?:</strong> <span style="color: blue; white-space: pre;">{{
                        isTokenExpiredVar }}</span></div>
                <div><strong>Token Actualizado:</strong> <span style="color: blue; white-space: pre;">{{
                        tokenUpdated ? 'Sí' : 'No' }}</span></div>
            </div>
            <div *ngIf="errorEnLogica">
                <div><strong>Error:</strong> <span style="color: blue; white-space: pre;">{{ errorEnLogica }}</span>
                </div>
            </div>

    
        </div>


    <div class="row">
        <h3 class="title">Ejecutar Lógica Completa y Mostrar Permisos</h3>
    </div>

    <lib-fomento-button typeStyle="material" (click)="obtenerPermisosUsuarioDesdeToken()"
        label="Ejecutar Lógica Completa y Mostrar Permisos" />

    <div class="row">



        <div *ngIf="permisosContrastadosFiltrados.length > 0">
            <div *ngFor="let permiso of permisosContrastadosFiltrados">
                <div>
                    <hr>
                    <strong>Código del Recurso:</strong> <span style="color: blue; white-space: pre;">{{
                        permiso.codigoRecurso }}</span>
                </div>
                <div>
                    <div>
                        <strong>Privilegio:</strong> <span style="color: blue; white-space: pre;">{{ permiso.privilegio
                            }}</span>
                    </div>
                    <div>
                        <strong>Permiso:</strong>
                        <span style="color: blue; white-space: pre;">{{ permiso.permisosPrivilegio }}</span>

                    </div>
                </div>



            </div>
            <div class="row">
                <h3 class="title">Ejecutar Lógica Obtener Permisos del Recurso
                    Concreto</h3>
            </div>

            <!-- Input para el código de recurso -->
            <input type="text" [value]="codigoRecurso" (input)="actualizarCodigoRecurso($event)"
                placeholder="Ingrese Código de Recurso">

            <!-- Botón para obtener los permisos del recurso concreto -->
            <lib-fomento-button typeStyle="material" (click)="obtenerPermisosDeRecursoConcreto()"
                label="Obtener Permisos del Recurso Concreto" />

            <div class="row">




                <!-- Mostrar los permisos obtenidos -->
                <div *ngIf="permisosDeRecursoConcreto.length > 0">
                    <p style="color: blue;" *ngFor="let permiso of permisosDeRecursoConcretoFiltrados">{{
                        convertirAJson(permiso) }}</p>
                </div>



            </div>
        </div>

        <div class="row">
            <div class="row">
                <h2 class="title">Ejemplo uso directivas seguridad</h2>
            </div>
           

            <lib-fomento-button typeStyle="material" (click)="guardarPrivilegioenSesion()"
        label="Guardar Rol de Prueba en Sesión" />

        <lib-fomento-button typeStyle="material" (click)="guardarQAplicacionenSesion()"
        label="Guardar qAplicacion de Prueba en Sesión" />

        <lib-fomento-button typeStyle="material" (click)="mostrarbotonesdirectiva = !mostrarbotonesdirectiva"
        label="Mostrar botones directiva" />

        <div class="row">
            <div *ngIf="mostrarbotonesdirectiva">
                <lib-fomento-button typeStyle="material" *showIfPermisoOK="'DELETE'"
        label="DELETE" />
        <lib-fomento-button typeStyle="material" *showIfPermisoOK="'EDITAR'"
        label="Editar" />               
            </div>
        </div>

        
        

        </div>


        </div>