<div>

    <div class="item">
      <h2 class="title">Ejemplos del componente Disclaimer</h2>
    </div>
  
  
    <div>
        <mat-dialog-content *ngIf="isVisible">
            <lib-fomento-disclaimer 
                [titulo]="titulo"
                [parrafo]="parrafo"
                [usuario]="usuario"
                [ultimoAcceso]="ultimoAcceso"
                [ultimoCierreSesion]="ultimoCierreSesion"
                [labelAceptar]="labelAceptar"   
                [labelCerrar]="labelCerrar"           
                (aceptarClick)="buttonAceptar()"
                (closeSesion)="buttonCloseSesion()">
            </lib-fomento-disclaimer>
        </mat-dialog-content>
      
    </div>
