<div class="flex-container">

    <div class="item">
        <h2 class="title">Ejemplo del componente 'Diálogo'</h2>
    </div>


    <div class="flex-container">

<!-- Botón para abrir el modal -->
<button (click)="dialog.openDialog()">Abrir modal</button>

<!-- Aquí usamos el componente lib-fomento-dialog para mostrar el modal -->
<lib-fomento-dialog [width]="width" 
[height]="height"
[closeButton]="closeButton">
  <!-- Contenido dentro del modal -->
  <div dialog-content>
    <button>Contenido modal</button>
  </div>
</lib-fomento-dialog>

          

    </div>

</div>
