<div class="flex-container">

  <div class="item">
    <h2 class="title">Ejemplo del componente de alertas del sistema</h2>
  </div>

<!-- Cambiar notifications para poder entre notificationsArray y notificationsSimple -->
  <div class="item-alert">
    <lib-fomento-alerts
    #alertaComponent
    [type]="type"
    [labelFirstButton]="labelFirstButton"
    [labelSecondButton]="labelSecondButton"
    [notifications]="notificationsSimple"
    [showActionButtons]="showActionButtons"
    [currentIndex]="currentIndex">
  </lib-fomento-alerts>
  </div> 
<div class="flex-container">
  <button
  (click)="showNotification('success',false)">Mostrar
  Notificación Simple</button>
  <button
  (click)="showNotification('success',true)">Mostrar
  Notificación Simple con Botones</button>
  <button
  (click)="showNotification('warning',false)">Mostrar
  Notificación Simple Aviso</button>
  <button
  (click)="showNotification('info',false)">Mostrar
  Notificación Simple Aviso</button>
  <button
  (click)="showPagedNotification('success',false)">Mostrar
  Notificación Paginada</button>
  <button
  (click)="showPagedNotification('success',true)">Mostrar
  Notificación Paginada Acciones</button>
  <button
  (click)="showNotification('error',false)">Mostrar
  Notificación Error</button>  
  </div>

</div>