<div class="flex-container">

  <div class="item">
    <h2 class="title">Ejemplo del componente de alertas del sistema</h2>
  </div>

<!-- Cambiar notifications para poder entre notificationsArray y notificationsSimple -->
  <div class="item-alert">
    <lib-fomento-alerts
    #alertaComponent
    [notifications]="notificationsArray">
  </lib-fomento-alerts>
  </div> 
<div class="flex-container">
  <button
  (click)="showNotification('success',false)">Mostrar
  Notificación Simple</button>
  <button
  (click)="showNotification('success',true)">Mostrar
  Notificación Simple con Botones</button>
  <button
  (click)="showNotification('warning')">Mostrar
  Notificación Simple Aviso</button>
  <button
  (click)="showPagedNotification('success',false)">Mostrar
  Notificación Paginada</button>
  <button
  (click)="showPagedNotification('warning')">Mostrar
  Notificación Paginada </button>
  <button
  (click)="showPagedNotification('error',true)">Mostrar
  Notificación Acciones</button>
  <button
  (click)="showPagedNotification('error',false)">Mostrar
  Notificación Acciones Paginada</button>  
  </div>

</div>