<div class="item-snackbar">
    <lib-fomento-snackbar></lib-fomento-snackbar>
</div>

<div class="flex-container">
    <lib-fomento-badge [badge]="badge" [badgeColor]="badgeColor" [badgePosition]="badgePosition"
        [badgeSize]="badgeSize" [badgeOverlap]="badgeOverlap" [badgeDescripcion]="badgeDescripcion"
        [badgeDisabled]="badgeDisabled" [badgeHiden]="badgeHiden">
        <lib-fomento-icon
        [typeStyle]="typeStyle"

        [svgIcon]="svgIcon"
        [fontSet]="fontSet"
        [inline]="inline"
        [fontIcon]="fontIcon"
        [fontSize]="fontSize"
    >
    </lib-fomento-icon>
    </lib-fomento-badge>

</div>