@use '../../../../../../assets/variables.scss';
@use '../../../../../../assets/theme-JdA.scss';


.form-container {
	margin-bottom: 20px;
	padding: 15px 20px;

	.row-form {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

		> div:not(:last-child) {
			margin-right: 55px;
		}
	}

	.row-buttons {
		display: flex;
		margin: 50px 0 20px 0;
		justify-content: flex-end;
		align-items: center;

		> div {
			display: flex;
		}

		> div > button:not(:last-child) {
			margin-right: 15px;
		}

		> div > input:not(:last-child) {
			margin-right: 15px;
		}
	}

	.mt-1 {
		margin-top: 25px !important;
	}

	.mt-2 {
		margin-top: 50px !important;
	}

	.mb-1 {
		margin-bottom: 25px !important;
	}

	.mb-2 {
		margin-bottom: 50px !important;
	}

	span {
		font-family: 'Source Sans Pro', sans-serif;
		font-style: normal;
		font-size: 13px;
		line-height: 16px;
		font-weight: 400;
		bottom: -20px;
		/*margin-top: 3px;*/
		/*position: absolute;*/
		/*color: #767676;*/
	}
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: #333;
}

.mb-1 {
	margin-bottom: 0.25rem !important;
}

.mt-1 {
	margin-top: 0.25rem !important;
}

.title-container {
	h1 {
		margin: 0;
		font-size: 3em;
	}
}

.titulo-section {
	font-size: 32px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.sectionLabel {
	font-size: 25px;
	font-weight: 700;
}

.button-cont {
	display: flex;
	justify-content: space-between;

	background: white;
	padding: 15px 20px;

	lib-fomento-button {
		margin-right: 5px;
	}

	.button-right {
		display: inline-flex;
	}
}

.divider {
	margin-bottom: 3rem;
}

.section {
	margin-top: 1rem;
}

mat-radio-button {
	margin-right: 1rem;
}

.noexp {
	pointer-events: none;
}

.exp {
	pointer-events: all;
}

.alt-button {
	display: flex;
	justify-content: end;
	margin: 0 50px 5px 0;
}

.mat-expansion-panel:not(.mat-expanded)
	.mat-expansion-panel-header:not([aria-disabled='true']):hover {
	background: white;
}

.input-container {
	display: flex;
	flex-direction: column;
}

.error-message {
	color: #A21515;
}

/*  ========================================  fomento.formulario-date   ========================================================  */

.date-form {
	.mat-mdc-text-field-wrapper.mdc-text-field--outlined
		.mat-mdc-form-field-infix {
		padding-top: 11px;
		padding-bottom: 11px;
	}

	.mat-mdc-form-field-infix {
		min-height: auto;
	}

	.mdc-text-field--outlined:not(.mdc-text-field--disabled)
		.mdc-notched-outline__leading,
	.mdc-text-field--outlined:not(.mdc-text-field--disabled)
		.mdc-notched-outline__notch,
	.mdc-text-field--outlined:not(.mdc-text-field--disabled)
		.mdc-notched-outline__trailing {
		border-color: variables.$primary-light-color !important;
		border-width: 2px !important;
	}

	.mdc-text-field--outlined:not(
			.mdc-text-field--disabled
		).mdc-text-field--focused
		.mdc-notched-outline__trailing,
	.mdc-text-field--outlined:not(
			.mdc-text-field--disabled
		).mdc-text-field--focused
		.mdc-notched-outline__leading {
		border-color: variables.$primary-color !important;
	}
}

.boton-dateform {
	display: inline-block;
	border: 2px solid variables.$primary-light-color;
	border-radius: 5px;
	height: 44px;
	margin-left: 5px;
	cursor: pointer;

	.fas {
		color: variables.$primary-color;
		font-size: 20px;
		padding: 12px;
	}
}

.d-flex {
	display: flex;
}

.mat-calendar-body-selected {
	background-color: variables.$primary-color !important;
}

.cdk-overlay-pane.mat-datepicker-popup {
	top: 150px !important;
	--mat-datepicker-calendar-date-hover-state-background-color: #{variables.$primary-light-color};
	--mat-datepicker-calendar-date-focus-state-background-color: #{variables.$primary-light-color};
}

/* ========================================  fomento.formulario-textarea    ====================================================*/

.textarea-form {
	::placeholder {
		font-size: 14px;
		font-family: variables.$source-sans-pro-font;
	}

	::-webkit-resizer {
		//background-image: url('../../../../assets/img/textarea.png');
		background-size: cover !important;
	}

	.mat-mdc-text-field-wrapper.mdc-text-field--outlined
		.mat-mdc-form-field-infix {
		padding-bottom: 0.5rem;
	}

	.mdc-text-field--outlined:not(
			.mdc-text-field--disabled
		).mdc-text-field--focused
		.mdc-notched-outline__leading,
	.mdc-text-field--outlined:not(
			.mdc-text-field--disabled
		).mdc-text-field--focused
		.mdc-notched-outline__notch,
	.mdc-text-field--outlined:not(
			.mdc-text-field--disabled
		).mdc-text-field--focused
		.mdc-notched-outline__trailing {
		border-color: variables.$primary-color;
	}

	.mdc-text-field--outlined:not(.mdc-text-field--disabled)
		.mdc-notched-outline__leading,
	.mdc-text-field--outlined:not(.mdc-text-field--disabled)
		.mdc-notched-outline__notch,
	.mdc-text-field--outlined:not(.mdc-text-field--disabled)
		.mdc-notched-outline__trailing {
		border-color: variables.$primary-light-color;
		border-width: 2px !important;
	}

	.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover 
	.mdc-notched-outline .mdc-notched-outline__leading, 
	.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch, 
	.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing
	{
		border-color: variables.$primary-color;
		border-width: 2px !important;
	}
}

lib-fomento-formulario {
	.mat-expansion-panel:not([class*='mat-elevation-z']) {
		box-shadow: 0px 4px 20px rgba(31, 45, 61, 0.05);
		margin: 0 20px;
	}

	.mat-expansion-panel-header {
		padding: 0.5rem 24px;
	}

	.mat-expansion-panel-header .mat-content {
		overflow: visible;
	}
}

/* ===========================      fomento.formulario-input       ========================================= */

.input-form {
	.mat-mdc-text-field-wrapper.mdc-text-field--outlined
		.mat-mdc-form-field-infix {
		padding: 11px 0 !important;
	}

	.mat-icon.mat-icon-no-color {
		position: absolute;
		top: 0.75rem;
		right: 0.75rem;
	}

	.mat-mdc-form-field-infix {
		min-height: auto;
	}

	.mdc-text-field--outlined:not(.mdc-text-field--disabled)
		.mdc-notched-outline__leading,
	.mdc-text-field--outlined:not(.mdc-text-field--disabled)
		.mdc-notched-outline__notch,
	.mdc-text-field--outlined:not(.mdc-text-field--disabled)
		.mdc-notched-outline__trailing {
		border-color: variables.$primary-light-color; //quito !important
		border-width: 2px !important;
	}

	.mdc-text-field--outlined:not(
			.mdc-text-field--disabled
		).mdc-text-field--focused
		.mdc-notched-outline__trailing,
	.mdc-text-field--outlined:not(
			.mdc-text-field--disabled
		).mdc-text-field--focused
		.mdc-notched-outline__notch,
	.mdc-text-field--outlined:not(
			.mdc-text-field--disabled
		).mdc-text-field--focused
		.mdc-notched-outline__leading {
		border-color: variables.$primary-color; //quito !important
	}

	.mdc-text-field--outlined.mdc-text-field--invalid:not(
			.mdc-text-field--disabled
		)
		.mdc-notched-outline__leading,
	.mdc-text-field--outlined.mdc-text-field--invalid:not(
			.mdc-text-field--disabled
		)
		.mdc-notched-outline__notch,
	.mdc-text-field--outlined.mdc-text-field--invalid:not(
			.mdc-text-field--disabled
		)
		.mdc-notched-outline__trailing {
		border-color: variables.$warning-color;
	}
}

.form-container .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
	width: 18rem !important;
}

::ng-deep .mat-mdc-form-field-icon-suffix {
    right: 8px;
}

::ng-deep .mat-mdc-select-arrow svg {
    display: none;
}

::ng-deep div.mat-mdc-select-panel{
	background-color: whitesmoke !important;
}

::ng-deep .mat-datepicker-content .mat-calendar {
    background-color: whitesmoke;
}

div.mat-mdc-select-panel.panel-select {
	box-shadow: 0px 4px 10px 1px rgba(219, 216, 219, 1);
	margin-top: 5px;
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
	background-color: variables.$primary-light-color 20 ;
}

.panel-select.mat-primary
	.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.panel-select.mat-primary
	.mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
	color: variables.$primary-color;
}

.panel-select
	.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
		.mat-mdc-option-multiple
	) {
	background-color: variables.$primary-light-color 20;
}

.mat-mdc-text-field-wrapper {
    height: auto;
    flex: auto;
}