<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.0.1/remixicon.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<form [formGroup]="form" #formDir="ngForm">
    <lib-fomento-button role="button" class="alt-button" *ngIf="alt" typeStyle="material" theme="primary" icon="plus"
        [badge]="badge" [label]="alt_label" (click)="auxEvent()"></lib-fomento-button>
    <mat-accordion class="form-container" *ngFor="let section of form_config.sections;let i = index">
        <mat-expansion-panel [expanded]="expanded.includes(i)" hideToggle>
            <mat-expansion-panel-header class="noexp" *ngIf="show_header">
                <mat-panel-title>
                    <label class="sectionLabel">{{ section.label }}</label>
                </mat-panel-title>
                <div>
                    <lib-fomento-button role="button" class="exp" typeStyle="material" theme="secondary"
                        icon="expand-alt" [badge]="badge" label=" FILTRO AVANZADO"
                        *ngIf="expansion_form"></lib-fomento-button>
                </div>
            </mat-expansion-panel-header>

            <div *ngFor="let group of section.groups; let j = index" class="group">
                <h2>{{ group.label }}</h2>
                <div *ngFor="let row of group.rows" class="row-form mt-1 mb-1">
                    <div *ngFor="let filter of row.filters" [ngSwitch]="filter.type">
                        <ng-container *ngSwitchCase="'input'">
                            <label for="simpleInput{{ filter.header }}">
                                <h4 class="select-title">{{ filter.header }}</h4>
                            </label>
                            <div class="input-container">
                                <mat-form-field appearance="outline" class="input-form">
                                    <input matInput formControlName="{{filter.formControlName}}" type="text" class="l"
                                        [readonly]="form_config.readOnly" (keyup)="getBadge()"
                                        aria-describedby="filterError" id="simpleInput{{ filter.header }}"
                                        aria-label="campo {{ filter.header }}" />
                                </mat-form-field>

                                <span id="filterError" *ngIf="form.get(filter.formControlName).errors"
                                    class="error-message">
                                    <ng-container *ngFor="let validation of filter.validations">
                                        {{ validation.message }}
                                    </ng-container>
                                </span>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'select'">
                            <label for="selectOption{{ filter.header }}">
                                <h4 class="select-title">{{ filter.header }}</h4>
                            </label>
                            <mat-form-field id="selectOption{{ filter.header }}" aria-label="{{ filter.header }}"
                                class="select-form" appearance="outline" [hideRequiredMarker]="true">
                                <mat-select [formControlName]="filter.formControlName" panelClass="panel-select"
                                    [disableOptionCentering]="true" required
                                    (selectionChange)="onOptionChange(filter.formControlName, $event.value)"
                                    aria-label="selector {{ filter.header }}">
                                    <mat-option *ngFor="let option of filter.selectOptions" [value]="option.value"
                                        attr.aria-label="{{ option.description }}">
                                        {{option.description}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon id="iconoSelect" matSuffix class='ri-arrow-down-s-line'></mat-icon>
                            </mat-form-field>
                        </ng-container>
                        <ng-container *ngSwitchCase="'checkbox'">
                            <label for="checkbox{{ filter.header }}">
                                <h4 class="select-title">{{ filter.header }}</h4>
                            </label>
                            <div class="check-form">
                                <mat-checkbox id="checkbox{{ filter.header }}"
                                    formControlName="{{filter.formControlName}}" aria-label="{{ filter.label }}">{{
                                    filter.label }}</mat-checkbox>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'radio'">
                            <label for="radioGroup{{ filter.header }}">
                                <h4 class="select-title">{{ filter.header }}</h4>
                            </label>
                            <div class="radio-form">
                                <mat-radio-group id="radioGroup{{ filter.header }}"
                                    formControlName="{{ filter.formControlName }}">
                                    <mat-radio-button *ngFor="let radio of filter.radioOptions" [value]="radio.value"
                                        aria-label="{{ radio.label }}">
                                        {{ radio.label }}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'textarea'">
                            <label for="textarea{{ filter.header }}">
                                <h4 class="select-title">{{ filter.header }}</h4>
                            </label>
                            <mat-form-field appearance="outline" class="textarea-form">
                                <textarea matInput id="textarea{{ filter.header }}"
                                    placeholder="{{filter.placeholder}}"></textarea>
                            </mat-form-field>
                        </ng-container>
                        <ng-container *ngSwitchCase="'date'">
                            <label for="datepicker{{ filter.header }}">
                                <h4 class="select-title">{{ filter.header }}</h4>
                            </label>
                            <div class="d-flex">
                                <mat-form-field class="date-form" appearance="outline">
                                    <input matInput id="datepicker{{ filter.header }}" [matDatepicker]="picker"
                                        placeholder="dd/mm/yyyy" formControlName="{{filter.formControlName}}"
                                        aria-label="campo {{ filter.header }}">
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <div (click)="picker.open()" class="boton-dateform" role="button"
                                    aria-label="botón abrir selector fecha" (keypress)="picker.open()" tabindex="0"><i
                                        class="fas fa-calendar-alt"></i></div>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <hr class="divider" *ngIf="j !== section.groups.length - 1" />
                <div class="button-cont right" *ngIf="i === form_config.sections.length - 1">
                    <div class="button-right">
                        <lib-fomento-button role="button" typeStyle="material" theme="secondary" *ngIf="showAux"
                            (click)="auxEvent()" [label]="aux_button" />
                    </div>
                    <div class="button-right">
                        <lib-fomento-button role="button" typeStyle="material" theme="secondary" *ngIf="showReset"
                            (click)="cleanForm()" [label]="reset_button" />
                        <lib-fomento-button role="button" typeStyle="material" *ngIf="showSubmit" (click)="submitForm()"
                            [label]="submit_button" />
                    </div>
                </div>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</form>